.slider-item {
    box-sizing: border-box;
    background-color: #79a8a4;
    border-radius: 10px;
    height: 250px;
    margin: 0 5px;
    text-align: center;
}

.slider-item:first-child {
    margin-left: 0px;
}

.image-div{
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
.image{
    width: 95%;
    height: 95%;
    margin: 0 auto;
}

/*ясно без осадков*/
.clearNoRain{
    background: url('pic/weather-icons-sprite.png') no-repeat;
    background-size: cover;
}

/*облачно, без осадков*/
.cloudyLightRain{
    background: url('pic/weather-icons-sprite2.png');
    background-size: cover;
}
/*Пасмурно, без осадков*/
.cloudyWithoutRain{
    background: url('pic/weather-icons-sprite3.png');
    background-size: cover;
}
/*пасмурно, дождь*/
.partlyCloudy{
    background: url('pic/weather-icons-sprite4.png');
    background-size: cover;
}

/*Туман*/
.fog{
    background: url('pic/weather-icons-sprite5.png');
    background-size: cover;
}
/*гроза*/
.thunderstorm{
    background: url('pic/weather-icons-sprite6.png');
    background-size: cover;
}
h4, h2,h3{
    display: block;
    margin: 2px auto;
}

h3,h4{
    margin-top: 10px;
}
.day-temp{
    margin-top: 0;
    margin-bottom: 0;
}
.night-temp{
    margin-top: 2px;
    margin-bottom: 0;
    color: #1a3264;
    font-size: 14px;
}
h4{
    color: #d9d9d9;
}

h3{
    color: #283560;
}

p{
    color: #d9d9d9;
    font: italic bold 12px Arial, sans-serif;
}
