//@import "colors.scss";
//@import "default-elements.scss";

* {
    margin: 0;
    padding: 0;
}

.auth_container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: rgb(44,62,80);
    background: linear-gradient(45deg, rgba(44,62,80,1) 0%, rgba(0,213,220,1) 100%);
    overflow-x: hidden;
    overflow-y: hidden;
    
    .logo {
        position: absolute;
        overflow: hidden;
        border-radius: 25%;
        top: 10px;
        left: 10px;
        width: 30vw;
        height: auto;
        text-align: center;
        
        img {
            vertical-align: middle;
            width: 100%;
        }
    }
    
    .auth_content {
        box-sizing: border-box;
        min-width: 280px;
        width: 26%;
        margin: 0 auto;
        padding-top: calc(30vh);
        
        .auth-button {
            @extend %btn;
            
            &.active {
                background: $xenomorph-2;
            }
            
        }
    
        & :nth-child(1) {
            border-radius: 6px 0 0 0;
        }
    
        & :nth-child(2) {
            border-radius: 0 6px 0 0;
        }
        
        .auth_form {
            box-sizing: border-box;
            padding: 15px 15px;
            border: 1px $auth-form-border solid;
            border-radius: 0 0 6px 6px;
            background-color: $xenomorph-2;
            background-color: $xenomorph-2-rgba;
            width: inherit;
            min-width: inherit;
            text-align: center;
            
            h1 {
                color: #fff;
                text-align: center;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            }
            
            input[type="text"], input[type="password"] {
                @extend %input;
                width: 80%;
                margin: 15px auto 0;
            }
            
            input[type="text"]:focus::-webkit-input-placeholder,
            input[type="password"]:focus::-webkit-input-placeholder {
                opacity: 0.3;
            }
            
            .submit_button {
                @extend %btn;
                margin: 15px auto 0;
            }
        }
    }
}

