@import "colors.scss";
@import "default-elements.scss";

* {
    margin: 0;
    padding: 0;
}

.auth_container {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    background: rgb(44, 62, 80);
    background: linear-gradient(45deg, rgba(44, 62, 80, 1) 0%, rgba(0, 213, 220, 1) 100%);
    overflow-x: hidden;
    overflow-y: hidden;
    
    .auth_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        min-width: 260px;
        width: 26%;
        margin: 0 auto;
        padding-top: 10vh;
        padding-bottom: 10vh;
    
        &>p{
            color: $xenomorph-5;
            text-align: center;
            font-size: 0.5rem;
            max-width: 260px;
            padding-bottom: 0.5rem;
        }
        
        .back-btn{
            @extend %btn;
            min-width: 260px;
            margin-bottom: 0.5rem;
        }
        
        .auth-button-wrapper{
            .auth-button {
                @extend %btn;
                min-width: 130px;
                border-top: 1px solid $xenomorph-2;
                &.active {
                    background: $xenomorph-2;
                    border: 1px solid $xenomorph-2;
                }
                
                &:hover, &:active{
                    border-top:  1px solid $xenomorph-2;;
                }
            }
            .auth-button:nth-child(1) {
                border-radius: 6px 0 0 0;
                border-left: 1px solid $xenomorph-2;
            }
    
            .auth-button:nth-child(2) {
                border-right: 1px solid $xenomorph-2;
                border-radius: 0 6px 0 0;
            }
        }
        
        .auth_form {
            box-sizing: border-box;
            padding: 15px 15px;
            border: 1px $auth-form-border solid;
            border-radius: 0 0 6px 6px;
            background-color: $xenomorph-2;
            background-color: $xenomorph-2-rgba;
            width: inherit;
            min-width: inherit;
            text-align: center;
            display: flex;
            flex-direction: column;
            
            div {
                position: relative;
                
                span.tooltip {
                    position: absolute;
                    right: -2%;
                    top: 45%;
                }
            }
            
            h1 {
                color: #fff;
                text-align: center;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            }
            
            input[type="text"], input[type="password"] {
                @extend %input;
                width: 80%;
                margin: 15px auto 0;
            }
            
            input[type="text"]:focus::-webkit-input-placeholder,
            input[type="password"]:focus::-webkit-input-placeholder {
                opacity: 0.3;
            }
            
            .submit_button {
                @extend %btn;
                margin: 15px auto 0;
            }
        }
        
        .message_block{
            @extend %message_block;
        }
    }
}

