$xenomorph-1: #202020;
$xenomorph-2: #2c3e50;

$xenomorph-3: #00d5dc;
$xenomorph-4: #bdc3c7;
$xenomorph-5: #f3f7f8;
$xenomorph-6: #00adb4;
$text-color: #323232;
$button-blue-hover: #347689;
$button-red: #e52940;
$button-red-hover: #eb5669;
//--logo-color: #00adb4;
$input-color: #f0f0f0;
$input-border-color: #ececec;
$landing-headers-color:#455a64;

/*auth-form*/
$xenomorph-2-rgba:rgba(44, 62, 80, 0.7); //auth form back
$auth-form-border: rgba(29, 47, 60, 0.42);

/*footer*/
$footer-background: #37474f;
$footer-tel-link-color: #f6f8f9;
$footer-tel-link-hover-color: #b9b9b9;
$footer-text-color: #78909c;
$footer-headers-color: #64818d;
$footer-social-icon-color: #424242;
$footer-info-back:#2f3c43;
$footer-copyright-back: #263036;
$tg-icon-color: #0088cc;
$vk-icon-color: #597da3;
$ig-icon-col-default: #d6249f;
$ig-icon-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
