@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-size: calc(22px + 5 * (100vw / 1280));
    //color: $text-color;
}

@media (max-width: 767px) {
    :root{
        font-size: calc(22px + (5 + 5 * 0.7) * (100vw - 320px) / 1280);
    }
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 0.9rem;
}

h3 {
    font-size: 0.8rem;
}

h4 {
    font-size: 0.7rem;
}

p {
    font-size: 0.7rem;
}

input[type="button"] {
    font-size: 0.6rem;
}

input[type="text"], span {
    font-size: 0.55rem;
}

a, h1, h2, h3, h4, h5, h6, p, li, span {
    font-family: 'PT Sans', sans-serif;
}

a {
    font-size: 0.5rem;
    font-weight: bold !important;
}
