@import "css/colors.css";
@import "css/fonts.css";

/*Header component*/
.header-top {
    width: 100%;
    height: 80px;
    top: 0;
    background-color: var(--xenomorph-2);
    
    .container {
        display: block;
        width: 92%;
        padding: 0 4%;
    }
    
    &.hide {
        display: none;
    }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .search-container {
        display: flex;
        max-width: 220px;
    }
}

/*Логотип*/
.img-wrapper {
    flex: 0 1 100px;
    align-self: flex-start;
    
    a {
        display: block;
        margin-top: 5px;
        width: 100%;
        height: 100%;
    }
    
    img {
        height: 100%;
        width: 100%;
    }
}

/*Блок поиска*/
.search-block {
    display: inline-flex;
    align-items: stretch;
    justify-content: stretch;
    max-width: 220px;
    width: 100%;
    height: 80%;
    
    input[type="text"] {
        box-sizing: border-box;
        appearance: none;
        width: 80%;
        outline: none;
        background-color: var(--input-color);
        border-radius: 6px 0 0 6px;
        border: 1px solid #ececec;
        padding: 0.6em;
        
        &::-webkit-input-placeholder {
            font-weight: bold;
        }
        
        &:focus::-webkit-input-placeholder {
            opacity: 0.3;
        }
    }
    
    .search-btn {
        box-sizing: border-box;
        border-radius: 0 6px 6px 0;
        width: 20%;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        background-color: var(--xenomorph-3);
        border: 1px solid var(--xenomorph-4);
        cursor: pointer;
        
        -webkit-transition: background-color 0.1s linear;
        -moz-transition: background-color 0.1s linear;
        -o-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
        
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
        
        &:hover {
            background-color: var(--xenomorph-6);
        }
        
        img {
            padding-top: 15%;
            height: 60%;
            width: 50%;
        }
    }
}

/*Блок контакты*/
.header-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 170px;
    max-height: 65px;
    
    p, h6, a {
        display: block;
        padding-top: 0.4em;
        font-size: 0.5rem;
        color: #f2f2f2;
    }
    
    p {
        font-size: 0.45rem;
    }
    
    .number-block {
        display: flex;
        position: relative;
        margin: 0 auto;
        
        a {
            text-decoration: none;
            
            &:after {
                display: block;
                content: "";
                background-color: var(--xenomorph-3);
                height: 2px;
                width: 0%;
                left: 50%;
                position: absolute;
                -webkit-transition: width .3s ease-in-out;
                -moz--transition: width .3s ease-in-out;
                transition: width .3s ease-in-out;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            
            &:hover {
                color: var(--xenomorph-3);
            }
            
            &:hover:after,
            &:focus:after {
                width: 100%;
            }
        }
    }
}

/*Блок ссылки корзины и профиль*/
.links_block {
    align-self: center;
    align-items: center;
    max-width: 90px;
    min-width: 80px;
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.links_block__item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 40%;
    text-align: center;
    
    :hover .submenu_block {
        display: block;
    }
}

label.links_block__item__link {
    line-height: 1;
}

.links_block__item__link {
    width: 100%;
    display: block;
    border-radius: 50%;
    position: relative;
    
    &:hover {
        background-color: var(--xenomorph-3);
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    img {
        margin-top: 12%;
        width: 80%;
        height: 80%;
    }
    input[id^="link_label"]:checked > .submenu_block{
        display: block;
    }
}

.submenu_block {
    display: none;
    box-sizing: border-box;
    border-radius: 6px;
    position: absolute;
    top: 98%;
    right: 0%;
    width: 11%;
    min-width: 120px;
    background: var(--xenomorph-3);
    z-index: 1;
    
    a {
        color: var(--xenomorph-5);
        text-decoration: none;
    }
    
    .submenu_block__button {
        box-sizing: border-box;
        border-radius: 6px;
        padding: 0.6em;
        display: block;
        text-align: left;
        
        &:hover {
            background: var(--xenomorph-5);
            color: var(--xenomorph-2);
        }
    
        &:last-child:hover {
            background: #fd5454;
            color: var(--xenomorph-5);
        }
    }
}

@media (max-width: 650px) {
    .header-content {
        justify-content: space-around;
    }
    
    .submenu_block {
        background: var(--xenomorph-2);
    }
    
    .links_block__item__link:hover {
        background: var(--xenomorph-2);
    }
    
    .header-content {
        .search-container, .links_block {
            display: none;
        }
    }
}



