@import "colors.scss";
@import "fonts.scss";

:focus, :active {
    outline: none;
}
::-webkit-scrollbar{
    display: none;
}
html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-ms-clear {
    display: none;
}

body {
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: $xenomorph-5;
    overflow-y: scroll;
    
    .content-container {
        flex: 1 1 auto;
    }
}