/*auth-form*/
/*footer*/
/*auth-form*/
/*footer*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  font-size: calc(22px + 5 * (100vw / 1280)); }

@media (max-width: 767px) {
  :root {
    font-size: calc(22px + (5 + 5 * 0.7) * (100vw - 320px) / 1280); } }
h1 {
  font-size: 1rem; }

h2 {
  font-size: 0.9rem; }

h3 {
  font-size: 0.8rem; }

h4 {
  font-size: 0.7rem; }

p {
  font-size: 0.7rem; }

input[type="button"] {
  font-size: 0.6rem; }

input[type="text"], span {
  font-size: 0.55rem; }

a, h1, h2, h3, h4, h5, h6, p, li, span {
  font-family: 'PT Sans', sans-serif; }

a {
  font-size: 0.5rem;
  font-weight: bold !important; }

div.landing_container {
  box-sizing: border-box;
  width: 100%;
  background: #f3f7f8;
  min-height: 500px; }
  div.landing_container h4 {
    display: block;
    margin-left: 0.75em;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
    color: #455a64; }
  div.landing_container section.special-offer-section {
    position: relative;
    min-height: 3rem;
    overflow-x: hidden; }
    div.landing_container section.special-offer-section > .svg-loader {
      position: absolute;
      width: 100%;
      height: 100%; }
    div.landing_container section.special-offer-section .slider {
      box-sizing: border-box;
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      height: calc(0.36 * 100vw); }
    div.landing_container section.special-offer-section .dots-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      bottom: 0.4rem;
      width: 12%;
      left: 44%; }
      @media screen and (max-width: 700px) {
        div.landing_container section.special-offer-section .dots-container {
          min-width: 100px;
          left: calc(50% - 50px); } }
      div.landing_container section.special-offer-section .dots-container .dot {
        position: relative;
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background: #bdc3c7; }
        div.landing_container section.special-offer-section .dots-container .dot::after {
          content: '';
          display: block;
          position: absolute;
          width: 60%;
          height: 60%;
          border-radius: 50%;
          left: 20%;
          top: 20%;
          background-color: #2c3e50;
          -webkit-transform: scale(0);
          transform: scale(0);
          opacity: 0;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
        div.landing_container section.special-offer-section .dots-container .dot.active::after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1); }
    div.landing_container section.special-offer-section .slider-item {
      position: absolute;
      box-sizing: border-box;
      max-width: 100%;
      transition: all 0.5s linear;
      color: #fff;
      top: 0;
      left: 0; }
      div.landing_container section.special-offer-section .slider-item img {
        width: 100%; }
    div.landing_container section.special-offer-section .slider-item-prev {
      transform: translateX(-100%); }
    div.landing_container section.special-offer-section .slider-item-next {
      transform: translateX(100%); }
    div.landing_container section.special-offer-section .slider-button {
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      top: calc(50% - 0.8rem);
      border-radius: 50%;
      z-index: 1;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        div.landing_container section.special-offer-section .slider-button {
          display: none; } }
      div.landing_container section.special-offer-section .slider-button :hover, div.landing_container section.special-offer-section .slider-button :active {
        fill: #f3f7f8; }
      div.landing_container section.special-offer-section .slider-button svg {
        width: 100%;
        height: 100%;
        fill: #2c3e50;
        -webkit-transition: fill 0.1s linear;
        -moz-transition: fill 0.1s linear;
        -o-transition: fill 0.1s linear;
        transition: fill 0.1s linear; }
      div.landing_container section.special-offer-section .slider-button.prev {
        left: 0.5rem; }
        div.landing_container section.special-offer-section .slider-button.prev svg {
          transform: rotate(180deg); }
      div.landing_container section.special-offer-section .slider-button.next {
        right: 0.5rem; }
  @media screen and (max-width: 700px) {
    div.landing_container {
      padding: 0.5em 0 0; } }
  div.landing_container section.stock-section {
    padding-top: 1rem; }
    div.landing_container section.stock-section .container {
      box-sizing: border-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      width: 100%; }
      div.landing_container section.stock-section .container .stock-wrapper {
        box-sizing: border-box;
        padding: 0 0.5em 0.5em;
        flex: 0 0 25%;
        max-width: 25%; }
        div.landing_container section.stock-section .container .stock-wrapper img {
          width: 100%;
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2); }
        @media screen and (max-width: 650px) {
          div.landing_container section.stock-section .container .stock-wrapper {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 0.2em 0.2em 0.2em; }
            div.landing_container section.stock-section .container .stock-wrapper:nth-child(3), div.landing_container section.stock-section .container .stock-wrapper:nth-child(4) {
              padding-top: 0; } }
  div.landing_container section.boots-section {
    box-sizing: border-box;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 0.25em; }
    div.landing_container section.boots-section .boots-image {
      box-sizing: border-box;
      padding: 1.5em;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
      div.landing_container section.boots-section .boots-image:nth-child(odd) {
        padding-right: 0.5em; }
      div.landing_container section.boots-section .boots-image:nth-child(even) {
        padding-left: 0.5em; }
      div.landing_container section.boots-section .boots-image img {
        width: 100%;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2); }
      @media screen and (max-width: 650px) {
        div.landing_container section.boots-section .boots-image {
          -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%; }
          div.landing_container section.boots-section .boots-image:nth-child(odd) {
            padding-right: 1.5em;
            padding-bottom: 0.5em; }
          div.landing_container section.boots-section .boots-image:nth-child(even) {
            padding-left: 1.5em;
            padding-top: 0.5em; } }
  div.landing_container section.brands-section {
    padding-top: 0.5rem; }
    div.landing_container section.brands-section .container {
      box-sizing: border-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      padding: 0 0 0.5rem; }
      div.landing_container section.brands-section .container .brand-preview-block {
        box-sizing: border-box;
        padding: 0.5em;
        -ms-flex: 0 0 25%;
        -webkit-flex: 0 0 25%;
        flex: 0 0 25%;
        min-height: 150px;
        position: relative; }
        div.landing_container section.brands-section .container .brand-preview-block:hover a::after {
          -ms-transform: scale(0);
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          transform: scale(0);
          -moz-opacity: 0;
          opacity: 0; }
        div.landing_container section.brands-section .container .brand-preview-block a {
          border-radius: 10px;
          position: absolute;
          top: 3%;
          left: 3%;
          bottom: 3%;
          right: 3%;
          line-height: 120px;
          text-align: center;
          background-size: cover;
          z-index: 1;
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2); }
          div.landing_container section.brands-section .container .brand-preview-block a .svg-loader {
            top: 33%; }
          div.landing_container section.brands-section .container .brand-preview-block a::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: #00d5dc;
            opacity: 0.4;
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            z-index: -1; }
          @media screen and (max-width: 992px) {
            div.landing_container section.brands-section .container .brand-preview-block a::after {
              opacity: 0.2; } }
        @media screen and (max-width: 576px) {
          div.landing_container section.brands-section .container .brand-preview-block {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            min-height: 130px; } }
        div.landing_container section.brands-section .container .brand-preview-block img.logo {
          z-index: 1;
          vertical-align: middle;
          width: 40%; }
  div.landing_container section.new-products-section, div.landing_container section.hit-products-section, div.landing_container section.sales-products-section {
    padding-top: 0.9rem;
    overflow-x: hidden; }
    div.landing_container section.new-products-section .headers, div.landing_container section.hit-products-section .headers, div.landing_container section.sales-products-section .headers {
      display: flex;
      align-items: baseline; }
      div.landing_container section.new-products-section .headers a, div.landing_container section.hit-products-section .headers a, div.landing_container section.sales-products-section .headers a {
        display: block;
        margin-left: 0.75em;
        font-size: 0.5em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1rem;
        color: #455a64;
        text-decoration: none; }
        div.landing_container section.new-products-section .headers a:hover, div.landing_container section.new-products-section .headers a:active, div.landing_container section.hit-products-section .headers a:hover, div.landing_container section.hit-products-section .headers a:active, div.landing_container section.sales-products-section .headers a:hover, div.landing_container section.sales-products-section .headers a:active {
          color: #e52940; }
    div.landing_container section.new-products-section .carousel-container .carousel-track, div.landing_container section.hit-products-section .carousel-container .carousel-track, div.landing_container section.sales-products-section .carousel-container .carousel-track {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex; }

/*# sourceMappingURL=landing.css.map */
