@import "colors.scss";
/*site header component*/


$bar-length: 25px;
$bar-thickness: 3px;
$nav-item-delay: 0.05s;

.site_navigation_header {
    width: 100%;
    background-color: $xenomorph-2;
    
    &.site_navigation__fixed {
        position: fixed;
        z-index: 10;
    }
    
    .site_header_block {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: $xenomorph-2;
        z-index: 6;
        display: none;
        align-items: center;
        justify-content: center;
        
        &.site_header_block_show {
            display: flex;
        }
        
        h4 {
            color: $xenomorph-3;
        }
    }
    
    .navigation_container {
        position: relative;
        display: block;
        margin: 0 4%;
        width: 92%;
    }
}

.site_navigation_header_body {
    position: relative;
    display: flex;
    height: 55px;
    justify-content: space-around;
    align-items: center;
    
    .search-block {
        display: none;
    }
    
    .bars {
        display: none;
    }
    
    .site_header_list {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: stretch;
        flex: 1 1 85%;
    }
}

/*buttons*/
.nav_item {
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    text-align: center;
}

.nav_link {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    text-decoration: none;
    color: $xenomorph-3;
    text-transform: uppercase;
    padding: 0.5em 0.8em;
    border: 2px solid $xenomorph-3;
    transition: all 300ms ease;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
    
    @media screen and (min-width: 1000px) {
        &:hover {
            border: 2px solid $xenomorph-2;
            color: $xenomorph-5;
            box-shadow: none;
        }
    }
    
}

@media (max-width: 650px) {
    .site_navigation_header {
        
        .navigation_container {
            
            .site_navigation_header_body {
                justify-content: space-between;
                
                .search-block {
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .site_navigation_header_body {
        position: relative;
        height: 50px;
        justify-content: flex-end;
        
        .bars {
            display: block;
            position: relative;
            width: $bar-length;
            height: $bar-length;
            border-radius: 50%;
            z-index: 6;
            
            &>span{
                position: absolute;
                width: $bar-length;
                height: $bar-thickness;
                border-radius: 3px;
                transition: 0.2s ease-in-out;
                background: #fff;
                top: 49%;
                
                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    will-change: transform;
                    width: $bar-length;
                    height: $bar-thickness;
                    background: #fff;
                    border-radius: 2px;
                    transition: 0.2s ease-in-out;
                }
                
                &:before {
                    transform: translateY(-8px);
                }
    
                &:after {
                    transform: translateY(8px);
                }
    
                &.is-active {
                    z-index: 7;
                    transform: rotate(-45deg);
        
                    &:before,
                    &:after {
                        transform: translateX(0) rotate(-90deg);
                    }
        
                }
            }
        }
        
        .site_header_list {
            display: block;
            box-sizing: border-box;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            overflow: auto;
            background-color: $xenomorph-2;
            transition: all 0.4s ease 0s;
            
            &.active {
                z-index: 6;
                top: 50px;
                overflow: hidden;
            }
        }
    }
    
    .nav_link {
        width: 100%;
        font-size: 0.6rem;
        
        &:active {
            border: 2px solid #fff;
            color: $xenomorph-5;
        }
    }
    
    .nav_item {
        display: block;
        padding: 5px 0;
    }
}
