$background: #f6f8f9;
.stub_container {
    width: 100%;
    background: $background;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    
    h1 {
        color: var(--xenomorph-2);
        display: inline-block;
    }
}
